apiVersion: v1
kind: Secret
metadata:
  name: sa-token-{{ cam_cluster_remote_name }}
  namespace: {{ cam_ns }}
type: Opaque
data:
  # [!] Change saToken to contain a base64 encoded SA token with cluster-admin privileges on the remote (AWS) cluster
  saToken: {{ cam_controller_sa_token }}
