cam_controller_remote_cluster_url: {{ remote_cluster_url }}
cam_controller_aws_access_key: {{ velero_aws_access_key | b64encode }}
cam_controller_aws_secret_key: {{ velero_aws_secret_key | b64encode }}
cam_controller_aws_bucket_name: {{ velero_aws_bucket_name }}
cam_controller_aws_bucket_region: {{ aws_region }}
cam_controller_sa_token: {{ sa_token }}
